@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-2">Controle de livros</h1>
    <h5 class="display-5">Desafio técnio Spassu - TJRJ</h5>

    <p><a href="https://www.spassu.com.br/">Spassu Tecnologia</a>.</p>
</div>
